@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary: #7367f0;
    --color-on-primary: #ffffff;
    --color-secondary: #a8aaae;
    --color-on-secondary: #ffffff;
    --color-success: #28c76f;
    --color-on-success: #ffffff;
    --color-info: #00cfe8;
    --color-on-info: #ffffff;
    --color-warning: #ff9f43;
    --color-on-warning: #ffffff;
    --color-error: #ea5455;
    --color-background: #f8f7fa;
    --color-on-background: #2f2b3d;
    --color-surface: #ffffff;
    --color-on-surface: #6d6b77;
    --color-grey-50: #fafafa;
    --color-grey-100: #f5f5f5;
    --color-grey-200: #eeeeee;
    --color-grey-300: #e0e0e0;
    --color-grey-400: #bdbdbd;
    --color-grey-500: #9e9e9e;
    --color-grey-600: #757575;
    --color-grey-700: #616161;
    --color-grey-800: #424242;
    --color-grey-900: #212121;
    --color-scrollbar-thumb: #dbdade;
    --color-skin-background: #ffffff;
    --color-skin-surface: #ffffff;
    --color-hover: #f3f2f3;
    --color-border: #e6e6e8;
    --font-outfit: Outfit, sans-serif;
    --color-stripped-bg: #2f2b3d0f;
    --color-hide-text-bg: #f1f5f9;
    --color-hide-text-mooving-first: #f7f7f7;
    --color-hide-text-mooving-second: #f3f3f3;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    [data-theme="dark"] {
        --color-primary: #7367f0;
        --color-on-primary: #ffffff;
        --color-secondary: #a8aaae;
        --color-on-secondary: #ffffff;
        --color-success: #28c76f;
        --color-on-success: #ffffff;
        --color-info: #00cfe8;
        --color-on-info: #ffffff;
        --color-warning: #ff9f43;
        --color-on-warning: #ffffff;
        --color-error: #ea5455;
        --color-background: #25293c;
        --color-on-background: #d0d4f1;
        --color-surface: #2f3349;
        --color-on-surface: #e6e6e8;
        --color-grey-50: #26293a;
        --color-grey-100: #2f3349;
        --color-grey-200: #26293a;
        --color-grey-300: #4a5072;
        --color-grey-400: #5e6692;
        --color-grey-500: #7983bb;
        --color-grey-600: #aab3de;
        --color-grey-700: #b6bee3;
        --color-grey-800: #cfd3ec;
        --color-grey-900: #e7e9f6;
        --color-scrollbar-thumb: #4a5072;
        --color-skin-background: #2f3349;
        --color-skin-surface: #2f3349;
        --color-hover: #3a3d53;
        --color-border: #56596f;
        --font-outfit: Outfit, sans-serif;
        --color-stripped-bg: #2f2b3d0f;
        --color-hide-text-bg: #1e2537;
        --color-hide-text-mooving-first: #23273a;
        --color-hide-text-mooving-second: #2a2e44;
    }
}

body {
    /* font: var(--font-outfit); */
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@utility mini-sidebar {
    /* position: fixed; */
    width: 60px;
}

@utility expend-content {
    position: fixed;
    left: 60px;
    width: calc(100vw - 60px);
}

@utility expend-sidebar {
    /* position: fixed; */
    width: 230px;
}

@utility mini-content {
    position: fixed;
    left: 230px;
    width: calc(100vw - 230px);
}

@utility content-wrapper {
    @apply px-3 py-2;
}

@utility box-shadow {
    box-shadow: 0 0.1875rem 0.75rem 0 rgba(47, 43, 61, 0.14);
}

@utility menu-box-shadow {
    box-shadow: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.12);
}

@utility custom-scrollbar {
    &::-webkit-scrollbar {
        @apply size-1;
    }

    &::-webkit-scrollbar-track {
        border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb {
        @apply rounded-full bg-secondary;
    }
}

.hide-text {
  background-color: var(--color-hide-text-bg);
  color: transparent;
  overflow: hidden;
  position: relative;
}

.hide-text:before {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: skeleton-animation;
   background: linear-gradient(90deg, var(--color-hide-text-mooving-first) 25%, var(--color-hide-text-mooving-second) 50%, var(--color-hide-text-mooving-first));
  content: "";
  filter: blur(1px);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

@keyframes skeleton-animation {
  0% {
    left: 0;
  }

  to {
    left: 100%;
  }
}
